pre {
  font-family: monospace;
  background: lightgrey;
  padding: 10px;
  border: thin dotted black;
  margin: 10px 0;
  white-space: pre-wrap;
}

.mat-checkbox, .mat-slide-toggle {
  display: block;
  margin-bottom: 10px;
}

.mat-cell:first-child,
.mat-footer-cell:first-child,
.mat-header-cell:first-child {
    padding-left: 0px !important;
}

.mat-header-cell,
.mat-cell {
  flex: 1 1 0;
  padding: 5px;
  border-bottom: none !important;
}

.profile-list {
  display: flex;
  align-items: center;
}

.profile-list .mat-header-cell{
 font-weight: bold;
 font-size: 3em;
}

.fields-table {
  width: 100%;
}

.errorZone {
  background-color: pink;
  color: darkred;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 1rem;
}